mixin renderbutton(name="", url="")
    a(class="btn btn-with-icon d-flex align-items-center justify-content-center")
        i(class=url)

-var iconbtn=[{name:"search", url:"fas fa-search"}, {name:"like", url:"fas fa-heart"}];

mixin renderbuttonwithicon(list=iconbtn)
    each val in list
        a(class="btn ml-3 btn-with-icon rounded-circle d-flex align-items-center justify-content-center")
            i(class=val.url)

-var listSocials=[{content:"Like", url:"fab fa-facebook-square", name:"facebook", haveCount:true, isalone:false, count:1}, {content:"Tweet", url:"fab fa-twitter", name:"twitter", haveCount:false, isalone:false}, {content:"", url:"fab fa-google-plus-g", name:"google-plus", haveCount:true, isalone:false, count:1}, {content:"Share", url:"far fa-plus-square", name:"share", haveCount:false, isalone:true}];

mixin renderbuttonSocial(list=listSocials)
    div(class="d-flex justify-content-between align-items-center flex-wrap p-3")
        div(class="d-flex align-item-center flex-wrap")
            each val in list 
                if(val.isalone==false&&val.haveCount==true)
                    div(class="mr-3 d-flex align-items-center mt-3")
                        a(href="#", class="d-flex align-items-center btn-item mr-3 btn-"+val.name)
                            i(class=val.url+" "+"mr-2")
                            span=val.content
                        span.count-page(class="d-flex align-items-center justify-content-center position-relative")=0
                else if(val.isalone==false&&val.haveCount==false)
                    div(class="mr-3 d-flex align-items-center mt-3")
                        a(href="#", class="d-flex align-items-center btn-item mr-3 btn-"+val.name)
                            i(class=val.url+" "+"mr-2")
                            span=val.content
        div(class="mr-3 d-flex align-items-center")
            each val in list
                if(val.isalone==true&&val.haveCount==true)
                    div(class="mr-3 d-flex align-items-center mt-3")
                        a(href="#", class="d-flex align-items-center btn-item mr-3 btn-"+val.name)
                            i(class=val.url+" "+"mr-2")
                            span=val.content
                        span.count-page(class="d-flex align-items-center justify-content-center position-relative")=0
                else if(val.isalone==true&&val.haveCount==false)
                    div(class="mr-3 d-flex align-items-center mt-3")
                        a(href="#", class="d-flex align-items-center btn-item mr-3 btn-"+val.name)
                            i(class=val.url+" "+"mr-2")
                            span=val.content