- var iconList = [{name: 'facebook', url: "fab fa-facebook-f"}, {name: "twitter", url:"fab fa-twitter"}, {name: "youtube", url: "fab fa-youtube"}, {name: "instagram", url:"fab fa-instagram"}];

- var navbarItem=[{name:"TRANG CHỦ", url:"index.html", isActive:true, isDropDown:false}, {name:"GIỚI THIỆU", url:"aboutus.html", isActive:false, isDropDown:false}, {name:"SẢN PHẨM", url:"produclist.html",  isActive:false, isDropDown:true, dropdownList:[{name:"DANH SÁCH SẢN PHẨM", url:"productlist.html"}]},{name:"SẢN PHẨM MỚI", url:"newproductlist.html", isActive:false, isDropDown:true}, {name:"TIN TỨC",  url:"news.html", isActive:false, isDropDown:false}, {name:"LIÊN HỆ", url:"contact.html", isActive:false, isDropDown:false}];

- var footerListInfo=[{title:"THÔNG TIN KHÁCH HÀNG", list:["Tài khoản của tôi", "Sản phẩm yêu thích", "Lịch sử mua hàng", "Chính sách đổi trả", "Góp ý, khiếu nại"]}, {title:"HỖ TRỢ DỊCH VỤ", list:["Hệ thống cửa hàng", "Hướng dẫn mua hàng", "Hướng dẫn thanh toán", "Tích điểm đổi quà", "Câu hỏi thường gặp"]}, {title:"CHÍNH SÁCH ƯU ĐÃI", list:["Chính sách giao hàng", "Chính sách đổi trả sản phẩm", "Chính sách bảo hành", "Giới thiệu sản phẩm mới", "Chính sách trả góp"]}, {title:"TIN TỨC", list:["Tin mới", "Khuyến mãi", "Tuyển dụng", "Download", "Tags"]}];

- var footerBottomList=["Sitemap", "Danh mục sản phẩm", "Hợp tác", "Thông tin liên hệ", "Câu hỏi thường gặp"];
-var footerBottomVisa=["fab fa-cc-visa", "fab fa-cc-mastercard","fab fa-cc-paypal","fab fa-cc-discover"];

-var productListColor=[{name:"Xanh cây", color:"green"}, {name:"Đỏ cam", color:"Orange"}, {name:"Tím", color:"violet"}, {name:"Xanh trời", color:"blue"}, {name:"Vàng", color:"yellow"}, {name:"Hồng", color:"pink"}];
-var floatingproduct=[{name:"Cây Chân Chim", isNew:true, src:"./images/spx2-4.png", star:1.5, price:"300.000", pricesale:"250.000", status:"none", des:"Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam doloremque itaque reprehenderit quod similique sunt architecto odit minus, inventore deserunt mollitia ipsa animi, aliquid, pariatur illo nesciunt tempora amet cumque."}, {name:"Cây Cọ Ta", isNew:"none", src:"./images/spx2-11.png", star:4, price:"200.000", pricesale:"100.000", status:"none", des:"Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam doloremque itaque reprehenderit quod similique sunt architecto odit minus, inventore deserunt mollitia ipsa animi, aliquid, pariatur illo nesciunt tempora amet cumque."}, {name:"Cây Dừa Nhỏ", isNew:"none", src:"./images/spx2-6.png", star:5, price:"300.000", pricesale:"100.000", status:"show", des:"Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam doloremque itaque reprehenderit quod similique sunt architecto odit minus, inventore deserunt mollitia ipsa animi, aliquid, pariatur illo nesciunt tempora amet cumque."}, {name:"Cây Danh Dự", isNew:true, src:"./images/spx2-5.png", star:5, price:"300.000", pricesale:"100.000", status:"show", des:"Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam doloremque itaque reprehenderit quod similique sunt architecto odit minus, inventore deserunt mollitia ipsa animi, aliquid, pariatur illo nesciunt tempora amet cumque."}, {name:"Cây Đa Búp Đỏ", isNew:true, src:"./images/spx2-15.png", star:4.5, price:"300.000", pricesale:"100.000", status:"show", des:"Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam doloremque itaque reprehenderit quod similique sunt architecto odit minus, inventore deserunt mollitia ipsa animi, aliquid, pariatur illo nesciunt tempora amet cumque."}, {name:"Cây Đa Búp Đỏ", isNew:"none", src:"./images/spx2-3.png", star:5, price:"500.000", pricesale:"450.000", status:"show"}, {name:"Cây Cọ Ta", isNew:"none", src:"./images/spx2-11.png", star:4, price:"200.000", pricesale:"100.000", status:"show", des:"Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam doloremque itaque reprehenderit quod similique sunt architecto odit minus, inventore deserunt mollitia ipsa animi, aliquid, pariatur illo nesciunt tempora amet cumque."}, {name:"Cây Cọ Ta", isNew:"none", src:"./images/spx2-11.png", star:4, price:"200.000", pricesale:"100.000", status:"show", des:"Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam doloremque itaque reprehenderit quod similique sunt architecto odit minus, inventore deserunt mollitia ipsa animi, aliquid, pariatur illo nesciunt tempora amet cumque."}];

mixin dropdownItem(name="Action", url="index.html")
    a(class="dropdown-item py-3", href=url)=name
mixin renderListIcon()
    ul(class="d-flex align-items-center")
        each val in iconList
            li.mr-3 
                a(href="", class="icon-link icon-link__"+val.name)
                    i(class=val.url)

mixin renderHeaderNavbar(name="Home", url="index.html", isActive=true, isDropDown=false, dropdownList=[{name:"", url:""}])
    if(isActive)
        li(class="nav-item active mr-4 py-3")
            a(class="nav-link text-white", href=url)=name
    else if(isDropDown)
        li(class="nav-item dropdown mr-4 py-3")
            a(class="nav-link text-white dropdown-toggle", href=url, id="tabletDropdown", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")=name
            div(class="dropdown-menu", aria-labelledby="tabletDropdown")
                each val in dropdownList
                    +dropdownItem(val.name,val.url)
    else 
        li(class="nav-item mr-4 py-3")
            a(class="nav-link text-white", href=url)=name

mixin renderListFooter()
    each value in footerListInfo
        div(class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3")
            div(class="footer__list-box py-2")
                h2(class="list-box__title")=value.title 
                ul(class="list-box__list pt-3")
                    each val in value.list
                        li(class="list-box__item py-2")
                            a(href="", class="d-flex align-items-center")
                                i(class="fas fa-chevron-right mr-2")
                                span=val

mixin renderFooterBottomList() 
    ul(class="footer-bottom__list d-flex align-items-center pt-3")
        each value in footerBottomList
            li(class="footer-bottom-item mr-3")
                a(href="", class="item-link")=value

mixin renderFooterBottomVisa()
    ul(class="footer-bottom__list d-flex align-items-center pt-3")
        each val in footerBottomVisa 
            li(class="footer-bottom-item mr-3")
                i(class=val)

mixin renderPagination(totalPage=4)
    nav(aria-label="Page navigation example")
        ul.pagination
            li(class="page-item text-center mr-3 prev-item")
                a(class="page-link rounded-0", href="#") Trang trước
            -var page=1;
            while page<=totalPage 
                li(class="page-item text-center mr-3")
                    a(class="page-link rounded-0", href="#")=page 
                - page++
            li(class="page-item text-center mr-3 next-item")
                a(class="page-link rounded-0", href="#") Trang cuối

mixin renderfloatingProduct(name="Cây Chân Chim", isNew=true, src="./images/spx2-4.png", star=5, price="300.000", pricesale="250.000", status="none")
    div(class="card floating-product__card mt-2 mb-3")
        div(class="floating-product__image")
            img(src=src,class="card-img-top", alt="card1")
            if(isNew==true)
                div(class="status__product status-new text-white") 
                    span NEW
            else if(isNew==false)
                div(class="status__product status-sale text-white") 
                    span -50%
            else if(isNew=="none")
                div(class="status__product status-sale text-white d-none")
            div(class="floating-product__overlay")
                div(class="button-group w-100 d-flex justify-content-center align-items-center")
                    a(href="productdetail.html", class="btn rounded-pill btn-full mr-3") MUA NGAY 
                    a(href="", class="p-3 bg-white rounded-circle text-dark")
                        i(class="fas fa-search") 
        div(class="card-body text-center")
            h5.card-title=name
            .card-rate
                ul(class="rate-list d-flex align-items-center justify-content-center")
                    -var count=0+0.5;
                    while count<star
                        li(class="rate-item mr-1")
                            i(class="fas fa-star")
                        - count++;
                        if(count==star)
                            li(class="rate-item mr-1")
                                i(class="fas fa-star-half")
            div(class="card-price mt-3")
                span(class="price-sale mr-3")=price+" "+"đ"
                span(class="price-cost text-muted")=pricesale+" "+"đ"

mixin renderfloatingProductGrid(product="new")
    each val in floatingproduct
        if(product=="new")
            div(class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3")
                div(class="card floating-product__card mt-2 mb-3")
                    .floating-product__image
                        img(src=val.src, class="card-img-top", alt="card1")
                        if(val.isNew==true)
                            div(class="status__product status-new text-white") 
                                span NEW
                        else if(val.isNew==false)
                            div(class="status__product status-sale text-white") 
                                span -50%
                        else if(val.isNew=="none")
                            div(class="status__product status-sale text-white d-none")
                        .floating-product__overlay
                            div(class="button-group w-100 d-flex justify-content-center align-items-center")
                                a(href="productdetail.html", class="btn rounded-pill btn-full mr-3") MUA NGAY 
                                a(href="", class="p-3 bg-white rounded-circle text-dark")
                                    i(class="fas fa-search") 
                    div(class="card-body text-center")
                        h5.card-title=val.name
                        div.card-rate
                            ul(class="rate-list d-flex align-items-center justify-content-center")
                                -var count=0+0.5;
                                while count<val.star
                                    li(Class="rate-item mr-1")
                                        i(class="fas fa-star")
                                    - count++;
                                    if(count==val.star)
                                        li(Class="rate-item mr-1")
                                            i(class="fas fa-star-half")
                        div(class="card-price mt-3")
                            span(class="price-sale mr-3")=val.price+" "+"đ"
                            span(class="price-cost text-muted")=val.pricesale+" "+"đ"
        if(product=="sale")
            div(class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4")
                div(class="card floating-product__card mt-2 mb-3")
                    .floating-product__image
                        img(src=val.src, class="card-img-top", alt="card1")
                        if(val.isNew==true)
                            div(class="status__product status-new text-white") 
                                span NEW
                        else if(val.isNew==false)
                            div(class="status__product status-sale text-white") 
                                span -50%
                        else if(val.isNew=="none")
                            div(class="status__product status-sale text-white d-none")
                        div.floating-product__overlay
                            div(class="button-group w-100 d-flex justify-content-center align-items-center")
                                a(href="productdetail.html", class="btn rounded-pill btn-full mr-3") MUA NGAY 
                                a(href="", class="p-3 bg-white rounded-circle text-dark")
                                    i(class="fas fa-search") 
                    div(class="card-body text-center")
                        h5.card-title=val.name
                        .card-rate
                            ul(class="rate-list d-flex align-items-center justify-content-center")
                                -var count=0+0.5;
                                while count<val.star
                                    li(Class="rate-item mr-1")
                                        i(class="fas fa-star")
                                    - count++;
                                    if(count==val.star)
                                        li(Class="rate-item mr-1")
                                            i(class="fas fa-star-half")
                        div(class="card-price mt-3")
                            span(class="price-sale mr-3")=val.price+" "+"đ"
                            span(class="price-cost text-muted")=val.pricesale+" "+"đ"
        if(product=="more")
            li(class="hot-product-item mt-3")
                div(class="card p-3")
                    div(class="row no-gutters")
                        div(class="col-md-5")
                            img(src=val.src, alt="...", class="h-100")
                        div(class="col-md-7")
                            .card-body
                                h5.card-title=val.name
                                .card-rate
                                    ul(class="rate-list d-flex align-items-center")
                                        -var count=0+0.5;
                                        while count<val.star
                                            li(Class="rate-item mr-1")
                                                i(class="fas fa-star")
                                            - count++;
                                            if(count==val.star)
                                                li(Class="rate-item mr-1")
                                                    i(class="fas fa-star-half")
                                div(class="card-price mt-3")
                                    span(class="price-sale mr-3")=val.price+" "+"đ"
mixin renderfloatingProductList()
    each val in floatingproduct
        div(class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12")
            div(class="productlist__d-list floating-product__card mt-3")
                div(class="card p-3")
                    div(class="row no-gutters")
                        div(class="col-md-5")
                            img(src=val.src, alt="...", class="h-100")
                        div(class="col-md-7")
                            .card-body
                                h5(class="card-title text-left")=val.name
                                .card-rate
                                    ul(class="rate-list d-flex align-items-center")
                                        -var count=0+0.5;
                                        while count<val.star
                                            li(Class="rate-item mr-1")
                                                i(class="fas fa-star")
                                            - count++;
                                            if(count==val.star)
                                                li(Class="rate-item mr-1")
                                                    i(class="fas fa-star-half")
                                div(class="card-description mt-3")
                                    span=val.des 
                                div(class="card-price mt-3")
                                    span(class="price-sale mr-3")=val.price+" "+"đ"
                                div(class="button-group mt-3 d-flex align-items-center")
                                    a(href="productdetail.html", class="btn btn-full rounded-pill") MUA NGAY
                                    +renderbuttonwithicon()

-var iconbtn=[{name:"search", url:"fas fa-search"}, {name:"like", url:"fas fa-heart"}];
mixin renderbuttonwithicon(list=iconbtn)
    each val in list
        a(class="btn ml-3 btn-with-icon rounded-circle d-flex align-items-center justify-content-center")
            i(class=val.url)

- var newslist=[{title:"15 trang thiết kế phòng ngủ đẹp vạn người mê", url:"news1.png", des:"Cùng Sài Gòn Hoa tìm hiểu một vài xu hướng thiết kế sân vườn được ưa chuộng nhất hiện nay nhé! Kết hợp hàng rào"}, {title:"Tạo tiểu cảnh góc sân cho nhà phố, biệt thự đẹp", url:"news2.png", des:"Khi bước từ ngoài vào ngõ hay từ trong nhà đi ra, góc sân vẫn luôn là điểm nhìn đầu tiên của chúng ta"}, {title:"Cách bố trí hoa chậu trước cửa ấn tượng", url:"news3.png", des:"Như thể hiện sự thân thiện cũng như sự hiếu khách của gia chủ, phần không gian trước cửa"}];

mixin renderNews()
    each val in newslist
        div(class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4")
            div(class="card mt-3")
                .card-img
                    img(src="./images/"+val.url, class="card-img-top", alt="...")
                .card-body
                    time(class="time text-muted")=val.time
                    span(class="card-title d-block mt-3")=val.title
                    p(class="card-des text-muted")=val.des
                    a(href="",class="d-block mt-3 news-link text-dark") Đọc tiếp ...

mixin renderInput(type="email", placeholder="Nhập email của bạn vào đây")
    .input-component
        .input-group
            input(class="form-control px-4", type=type, placeholder=placeholder)
            div.input-group-append
                button(type="button", class="px-4 text-white btn")
                    i(class="fas fa-paper-plane")

- var productcategorylist=[{name:"Cây chậu treo", url:"index.html", list:[{name:"Cây chậu treo 1",  url:"index.html"}, {name:"Cây chậu treo 2", url:"index.html"}, {name:"Cây chậu treo 3",  url:"index.html"}]}, {name:"Cây chậu treo", url:"index.html", list:[{name:"Cây chậu treo 1",  url:"index.html"}, {name:"Cây chậu treo 2", url:"index.html"}]}, {name:"Cây chậu treo", url:"index.html", list:[{name:"Cây chậu treo 1",  url:"index.html"}, {name:"Cây chậu treo 2", url:"index.html"}]}, {name:"Cây chậu treo", url:"index.html", list:[{name:"Cây chậu treo 1",  url:"index.html"}, {name:"Cây chậu treo 2", url:"index.html"}]}, {name:"Cây chậu treo", url:"index.html", list:[{name:"Cây chậu treo 1",  url:"index.html"}, {name:"Cây chậu treo 2", url:"index.html"}]}];

mixin renderProductCategory(list=productcategorylist)
    ul.product-category__list
        each val in list
            li(class="product-category__item mt-3 py-3")
                a(href=val.url, class="d-flex align-items-center")
                    i(class="fas fa-chevron-right mr-2")
                    span(class="mr-2")=val.name
                    if(val.list.length>1)
                        span="("+val.list.length+")"
                    each value in val.list
                        if(list.length>0) 
                            div(class="dropdownCategory pl-3 pt-2")
                                ul.dropdownCategory__list
                                    li(class="dropdownCategory__item py-2")
                                        a(href=value.url, class="d-flex align-items-center")
                                            i(class="fas fa-chevron-right mr-2")
                                            span=value.name

-var listprice=[{start:"200.000", end:"400.000"}, {start:"400.000", end:"600.000"}, {start:"600.000", end:"800.000"}, {start:"800.000", end:"1.000.000"}, {start:"1.000.000", end:"2.000.000"}];
mixin renderFindPrice(list=listprice)
    ul.product-category__list
        each val in list
            li(class="product-category__item mt-3 py-3")
                span(class="d-flex align-items-center")
                        i(class="fas fa-chevron-right mr-2")
                        span(class="mr-2")=val.start+ "Đ" +" - "+val.end+" "+"Đ"

mixin renderProductListColor()
    each val in productListColor 
        li(class="productlist__color-item d-flex align-items-center w-50 mt-3")
            span(class="color d-inline-block mr-2 rounded-circle", style="background-color:"+val.color+";")
            span.color-title=val.name

- var selectList=[{name:"Tên sản phẩm", value:"byname"}, {name:"Giá tăng dần", value:"bypriceup"}, {name:"Giá giảm dần", value:"bypricedown"}];

mixin renderSelectForm(title="Sắp xếp theo", id="productlist-select", isCustom=false, number=15)
    div(class="d-flex align-items-center input-box")
        label(for=id, class="my-1 mr-2")=title
        select(class="form-control my-1", id=id)
            if(isCustom==false)
                each val in selectList
                    option(value=val.value)=val.name
            else
                - var temp=1;
                while temp<=number
                    option(value=temp)=temp
                    - temp++


