mixin tabPanelItem(data)
    .tab-pane__normalname.d-flex.align-items-center.tab-pane-item.py-3
        h2.mr-3=data.normalname.title
        span=data.normalname.name
    .tab-pane__sciencename.d-flex.align-items-center.tab-pane-item.py-3
        h2.mr-3=data.sciencename.title
        span=data.sciencename.name
    .tab-pane__category.d-flex.align-items-center.tab-pane-item.py-3
        h2.mr-3=data.category.title
        span=data.category.name
    .tab-pane__height.d-flex.align-items-center.tab-pane-item.py-3
        h2.mr-3=data.height.title
        span=data.height.result
    .tab-pane__des.tab-pane-item.py-3
        span=data.des.name
        p.mt-3=data.des.content

mixin productDetail(list = [])
    section.product-detail__info.py-5
        nav.pb-5
            .nav.nav-tabs#nav-tab(role="tablist")
                each val, index in list
                    if(index === 0)
                        a.nav-link.mt-2.text-center.active(id=val.id, data-toggle="tab", href="#"+val.idcontent, role="tab", aria-controls=val.idcontent, aria-selected="true")=val.name
                    else 
                        a.nav-link.mt-2.text-center(id=val.id, data-toggle="tab", href="#"+val.idcontent, role="tab", aria-controls=val.idcontent, aria-selected="false")=val.name
        .tab-content.px-3#nav-tabContent
            each val, index in list
                if(index === 0)
                    .tab-pane.fade.show.active(id=val.idcontent, role="tabpanel", aria-labelledby=val.id)
                        +tabPanelItem(val)
                else 
                    .tab-pane.fade(id=val.idcontent, role="tabpanel", aria-labelledby=val.id)
                        +tabPanelItem(val)