mixin renderProductDetailInfo(list=[])
    section(class="productdetail-info py-5")
        nav.pb-5
            div(class="nav nav-tabs", id="nav-tab", role="tablist")
                each val, index in list
                    if(index===0)
                        a(class="nav-link mt-2 text-center active", id=val.id, data-toggle="tab", href="#"+val.idcontent, role="tab", aria-controls=val.idcontent, aria-selected="true")=val.name
                    else 
                        a(class="nav-link mt-2 text-center", id=val.id, data-toggle="tab", href="#"+val.idcontent, role="tab", aria-controls=val.idcontent, aria-selected="false")=val.name
        div(class="tab-content px-3", id="nav-tabContent")
            each val, index in list
                if(index===0)
                    div(class="tab-pane fade show active", id=val.idcontent, role="tabpanel", aria-labelledby=val.id)
                        .tab-pane__normalname(class="d-flex align-items-center tab-pane-item py-3")
                            h2.mr-3=val.normalname.title
                            span=val.normalname.name
                        .tab-pane__sciencename(class="d-flex align-items-center tab-pane-item py-3")
                            h2.mr-3=val.sciencename.title
                            span=val.sciencename.name
                        .tab-pane__category(class="d-flex align-items-center tab-pane-item py-3")
                            h2.mr-3=val.category.title
                            span=val.category.name
                        .tab-pane__height(class="d-flex align-items-center tab-pane-item py-3")
                            h2.mr-3=val.height.title
                            span=val.height.result
                        .tab-pane__des(class="tab-pane-item py-3")
                            span=val.des.name
                            p.mt-3=val.des.content
                else 
                    div(class="tab-pane fade", id=val.idcontent, role="tabpanel", aria-labelledby=val.id)
                        .tab-pane__normalname(class="d-flex align-items-center tab-pane-item py-3")
                            h2.mr-3=val.normalname.title
                            span=val.normalname.name
                        .tab-pane__sciencename(class="d-flex align-items-center tab-pane-item py-3")
                            h2.mr-3=val.sciencename.title
                            span=val.sciencename.name
                        .tab-pane__category(class="d-flex align-items-center tab-pane-item py-3")
                            h2.mr-3=val.category.title
                            span=val.category.name
                        .tab-pane__height(class="d-flex align-items-center tab-pane-item py-3")
                            h2.mr-3=val.height.title
                            span=val.height.result
                        .tab-pane__des(class="tab-pane-item py-3")
                            h2=val.des.name
                            p.mt-3=val.des.content